idnits complaints

(Updated)

```
idnits 2.15.00 

draft-ribose-asciirfc-01.txt:
draft-ribose-asciirfc-01.txt(374): Line is too long: the offending characters are 'y'
draft-ribose-asciirfc-01.txt(387): Line is too long: the offending characters are 'ic'
draft-ribose-asciirfc-01.txt(402): Line is too long: the offending characters are 'orning,'
draft-ribose-asciirfc-01.txt(403): Line is too long: the offending characters are 'y day'
draft-ribose-asciirfc-01.txt(404): Line is too long: the offending characters are 'nd'
draft-ribose-asciirfc-01.txt(409): Line is too long: the offending characters are 'had'
draft-ribose-asciirfc-01.txt(410): Line is too long: the offending characters are 't the'
draft-ribose-asciirfc-01.txt(420): Line is too long: the offending characters are 'n to come'
draft-ribose-asciirfc-01.txt(421): Line is too long: the offending characters are ' our'
draft-ribose-asciirfc-01.txt(454): Line is too long: the offending characters are 've ya'.'
draft-ribose-asciirfc-01.txt(551): Line is too long: the offending characters are 'ire who'
draft-ribose-asciirfc-01.txt(552): Line is too long: the offending characters are 'hey try'
draft-ribose-asciirfc-01.txt(553): Line is too long: the offending characters are 'come'
draft-ribose-asciirfc-01.txt(572): Line is too long: the offending characters are 'in a'
draft-ribose-asciirfc-01.txt(573): Line is too long: the offending characters are 'ning,'
draft-ribose-asciirfc-01.txt(574): Line is too long: the offending characters are 'for'
draft-ribose-asciirfc-01.txt(575): Line is too long: the offending characters are ' would'
draft-ribose-asciirfc-01.txt(579): Line is too long: the offending characters are 'ck in'
draft-ribose-asciirfc-01.txt(580): Line is too long: the offending characters are 'o work'
draft-ribose-asciirfc-01.txt(581): Line is too long: the offending characters are ' would'
draft-ribose-asciirfc-01.txt(582): Line is too long: the offending characters are 'ere'
draft-ribose-asciirfc-01.txt(587): Line is too long: the offending characters are 'oebox at'
draft-ribose-asciirfc-01.txt(589): Line is too long: the offending characters are 'zing'
draft-ribose-asciirfc-01.txt(590): Line is too long: the offending characters are 'urpence'
draft-ribose-asciirfc-01.txt(591): Line is too long: the offending characters are 'in two'
draft-ribose-asciirfc-01.txt(597): Line is too long: the offending characters are 'an hour'
draft-ribose-asciirfc-01.txt(598): Line is too long: the offending characters are 'p of'
draft-ribose-asciirfc-01.txt(599): Line is too long: the offending characters are 'ill'
draft-ribose-asciirfc-01.txt(600): Line is too long: the offending characters are 'r Dad'
draft-ribose-asciirfc-01.txt(601): Line is too long: the offending characters are 'ah."</t>'
draft-ribose-asciirfc-01.txt(608): Line is too long: the offending characters are 'c7253">'
draft-ribose-asciirfc-01.txt(695): Line is too long: the offending characters are 'shire'
draft-ribose-asciirfc-01.txt(696): Line is too long: the offending characters are 'sses'
draft-ribose-asciirfc-01.txt(698): Line is too long: the offending characters are 'n" />'
draft-ribose-asciirfc-01.txt(707): Line is too long: the offending characters are 'in a'
draft-ribose-asciirfc-01.txt(708): Line is too long: the offending characters are 'ning,'
draft-ribose-asciirfc-01.txt(709): Line is too long: the offending characters are 'for'
draft-ribose-asciirfc-01.txt(710): Line is too long: the offending characters are ' would'
draft-ribose-asciirfc-01.txt(714): Line is too long: the offending characters are 'ck in'
draft-ribose-asciirfc-01.txt(715): Line is too long: the offending characters are 'o work'
draft-ribose-asciirfc-01.txt(716): Line is too long: the offending characters are ' would'
draft-ribose-asciirfc-01.txt(717): Line is too long: the offending characters are 'ere'
draft-ribose-asciirfc-01.txt(720): Line is too long: the offending characters are 'illiam">'
draft-ribose-asciirfc-01.txt(721): Line is too long: the offending characters are 'oebox at'
draft-ribose-asciirfc-01.txt(722): Line is too long: the offending characters are '> the'
draft-ribose-asciirfc-01.txt(723): Line is too long: the offending characters are ' cold'
draft-ribose-asciirfc-01.txt(724): Line is too long: the offending characters are 'ce every'
draft-ribose-asciirfc-01.txt(733): Line is too long: the offending characters are ' with a'
draft-ribose-asciirfc-01.txt(738): Line is too long: the offending characters are 'an hour'
draft-ribose-asciirfc-01.txt(740): Line is too long: the offending characters are ' hours a'
draft-ribose-asciirfc-01.txt(741): Line is too long: the offending characters are 'rk, and'
draft-ribose-asciirfc-01.txt(742): Line is too long: the offending characters are 'r graves'
draft-ribose-asciirfc-01.txt(749): Line is too long: the offending characters are 'c7253">'
draft-ribose-asciirfc-01.txt(751): Line is too long: the offending characters are 'n'
draft-ribose-asciirfc-01.txt(987): Found possible FQDN 'bbc.co.uk' in position 10; this doesn't match RFC 2606's suggested ".example" or ".example.(com|org|net)".
draft-ribose-asciirfc-01.txt(1191): Line is too long: the offending characters are 's,'
draft-ribose-asciirfc-01.txt(1206): Line is too long: the offending characters are 'e'
draft-ribose-asciirfc-01.txt(1250): Line is too long: the offending characters are ' and'
draft-ribose-asciirfc-01.txt(1251): Line is too long: the offending characters are 'w</em>'
draft-ribose-asciirfc-01.txt(1252): Line is too long: the offending characters are 'Python'
draft-ribose-asciirfc-01.txt(1253): Line is too long: the offending characters are 'ive'
draft-ribose-asciirfc-01.txt(1254): Line is too long: the offending characters are '>.</t>'
draft-ribose-asciirfc-01.txt(1256): Line is too long: the offending characters are 'shire'
draft-ribose-asciirfc-01.txt(1257): Line is too long: the offending characters are 'sses'
draft-ribose-asciirfc-01.txt(1258): Line is too long: the offending characters are 'ildhoods'
draft-ribose-asciirfc-01.txt(1262): Line is too long: the offending characters are 'may'
draft-ribose-asciirfc-01.txt(1267): Line is too long: the offending characters are 's one of'
draft-ribose-asciirfc-01.txt(1268): Line is too long: the offending characters are 'he'
draft-ribose-asciirfc-01.txt(1369): Found possible FQDN 'node.parent.context' in position 8; this doesn't match RFC 2606's suggested ".example" or ".example.(com|org|net)".
draft-ribose-asciirfc-01.txt(1421): Found possible FQDN 'node.parent.context' in position 12; this doesn't match RFC 2606's suggested ".example" or ".example.(com|org|net)".


  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

  ** There are 67 instances of too long lines in the document, the longest one
     being 9 characters in excess of 72.

  == There are 3 instances of lines with non-RFC2606-compliant FQDNs in the
     document.


  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  -- The document date (November 20, 2017) is 5 days in the past.  Is this
     intentional?


  Checking references for intended status: Informational
  ----------------------------------------------------------------------------

  -- Looks like a reference, but probably isn't: '1' on line 1919
     '[1] https://github.com/miekg/mmark...'

  -- Looks like a reference, but probably isn't: '2' on line 1921
     '[2] https://github.com/cabo/kramdown-rfc2629...'

  -- Looks like a reference, but probably isn't: '3' on line 1923
     '[3] https://daringfireball.net/projects/markdown/...'

  -- Looks like a reference, but probably isn't: '4' on line 1925
     '[4] http://www.methods.co.nz/asciidoc/...'

  -- Looks like a reference, but probably isn't: '5' on line 1927
     '[5] http://asciidoctor.org...'

  -- Looks like a reference, but probably isn't: '6' on line 1929
     '[6] http://asciidoctor.org/docs/user-manual/#compared-to-markdown...'

  -- Looks like a reference, but probably isn't: '7' on line 1931
     '[7] http://asciidoctor.org/docs/user-manual/#compared-to-markdown...'

  -- Looks like a reference, but probably isn't: '8' on line 1933
     '[8] http://docs.mathjax.org/en/latest/asciimath.html...'

  -- Looks like a reference, but probably isn't: '9' on line 1935
     '[9] http://docs.mathjax.org/en/latest/tex.html...'

  -- Looks like a reference, but probably isn't: '10' on line 1937
     '[10] https://www.mathjax.org...'

  == Missing Reference: 'NOTE' is mentioned on line 968, but not
     defined
'[NOTE]...'

  -- Looks like a reference, but probably isn't: '11' on line 1939
     '[11] http://asciidoctor.org/docs/user-manual/#complex-list-conten...'

  -- Looks like a reference, but probably isn't: '12' on line 1941
     '[12] http://asciidoctor.org/docs/user-manual/#include-directive...'

  -- Looks like a reference, but probably isn't: '13' on line 1943
     '[13] https://github.com/riboseinc/asciidoctor-bibliography...'

  -- Looks like a reference, but probably isn't: '14' on line 1945
     '[14] http://asciidoctor.org/docs/user-manual...'

  -- Looks like a reference, but probably isn't: '15' on line 1947
     '[15] https://github.com/riboseinc/asciidoctor-...'

  -- Looks like a reference, but probably isn't: '16' on line 1950
     '[16] https://github.com/riboseinc/asciidoctor-rfc/tree/master/spe...'

  == Unused Reference: 'RFC5385' is defined on line 1891, but no explicit
     reference was found in the text
     '[RFC5385]  Touch, J., "Version 2.0 Microsoft Word Template for Creat...'

  == Unused Reference: 'RFC7328' is defined on line 1896, but no explicit
     reference was found in the text
     '[RFC7328]  Gieben, R., "Writing I-Ds and RFCs Using Pandoc and a Bit...'

  -- Obsolete informational reference (is this intentional?): RFC 7749

     Summary: 1 error (**), 0 flaws (~~), 4 warnings (==), 18 comments (--).
```

We should change all the URLs into actual bibliography references.

I've already done this.

Sorry I didn't get to this.